<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container" id="app">
      <div class="container jumbotron heroes-title">
        <h1>{{ title }}</h1>
      </div>
      <div class="container hero-search">
        <input type="text" v-model="searchHero"/>
        <button type="button" name="button" class="btn btn-default" v-on:click.prevent="searchHeroes">Search</button>
      </div>
      <div class="container heroes-main">
        <div class="list-group heroes-list">
          <div class="list-group-item hero-item" v-for="(h,index) in heroes">
            <div class="row">
              <div class="col-md-2 hero-data">
                <h3>Name: {{ h.name }}</h3>
                <p>Superpower: {{ h.superpower }}</p>
              </div>
              <div class="col-md-4">
                <img :src="h.image" class="hero-image"/>
              </div>
              <div class="col-md-6">
                <button type="button" name="button" class="btn btn-primary edit-hero" v-on:click.prevent="toggleEdit(h._id, index)">Edit</button>
                <button type="button" name="button" class="btn btn-danger delete-hero" v-on:click.prevent="deleteHero(h._id)">Delete</button>
              </div>
            </div>
            <div v-show="showEdit && selectedHero == h._id" class="row edit-hero-row">
              <form v-on:submit.prevent="editHero" class="edit-form">
                <div class="form-group hero-form-field">
                  <label for="hero-name">Hero Name:</label>
                  <input type="text" class="form-control" id="hero-name" v-model="name"/>
                </div>
                <div class="form-group hero-form-field">
                  <label for="hero-power">Hero Power:</label>
                  <input type="text" class="form-control" id="hero-power" v-model="superpower"/>
                </div>
                <div class="form-group hero-form-field">
                  <label for="hero-image">Hero Image:</label>
                  <input type="text" class="form-control" id="hero-image" v-model="image"/>
                </div>
                <div class="form-group hero-form-submit">
                  <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="hero.js"></script>
  </body>
</html>
